.header-google {
    background: #fff;
    width: 100%;
}
.header-google svg {
	left: 15;
	position: absolute;
}
.header-google-title {
	padding-top: 60px;
    color: #000;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    text-align: left;
}
.header-google-description {
	padding-top: 10px;
	padding-bottom: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	font-weight: normal;
    text-align: left;
}
.box-google {
	width: 95%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
input {
  background: #fff;
}
#form {
  width: 40vw;
  margin: 0 auto;
  margin-top: 50px;
}
.input-box.active-grey {
  .input-1 {
    border: 1px solid #dadce0;
  }
  .input-label {
    color: #80868b;
    top: -8px;
    background: #fff;
    font-size: 11px;

    transition: 250ms;

    svg {
      position: relative;
      width: 11px;
      height: 11px;
      top: 2px;
      transition: 250ms;
    }
  }
}
.input-box {
  position: relative;
  margin: 15px 0;
  .input-label {
    position: absolute;
    color: #80868b;
    font-size: 16px;
    font-weight: 400;
    max-width: calc(100% - (2 * 8px));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    left: 8px;
    top: 15px;
    padding: 0 8px;
    transition: 250ms;
    user-select: none;
    pointer-events: none;
    svg {
      position: relative;
      width: 15px;
      height: 15px;
      top: 2px;
      transition: 250ms;
    }
  }
  .input-1 {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    color: #202124;
    border: 1px solid #dadce0;
    padding: 13px 15px;
    transition: 250ms;
    &:focus {
      outline: none;
      border: 2px solid #0b57d0;
      transition: 250ms;
    }
  }
}
.input-box.error {
  .input-label {
    color: #f44336;
    top: -8px;
    background: #fff;
    font-size: 11px;
    transition: 250ms;
  }
  .input-1 {
    border: 2px solid #f44336;
  }
}
.input-box.focus,
.input-box.active {
  .input-label {
    color: #0b57d0;
    top: -5px;
    background: #fff;
    font-size: 13px;

    transition: 250ms;

    svg {
      position: relative;
      width: 11px;
      height: 11px;
      top: 2px;
      transition: 250ms;
    }
  }
}
.input-box.active {
  .input-1 {
    border: 2px solid #0b57d0;
  }
}

.pull-right {
  float: right;
}
.clear {
  clear: both;
}

.btn-forgot-google {
    background: #fff;
    width: auto;
    height: auto;
    padding: 10px;
    padding-left: 0;
    color: #0b57d0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing: .25px;
    text-align: left;
    border: none;
    outline: none;
    float: left;
}
.notify-google {
    width: 100%;
    height: auto;
    color: gray;
    font-size: 14px;
    font-family: arial,sans-serif;
	font-weight: normal;
    text-align: left;
    margin-top: 15%;
    margin-bottom: 5%;
}
.notify-google span {
    color: #0b57d0;
    font-weight: inherit;
}
.btn-create-google {
    background: #fff;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 10px;
    padding-left: 0;
    color: #0b57d0;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing:.25px;
    text-align: left;
    border: none;
    outline: none;
    float: left;
}
.btn-login-google {
    background: #0b57d0;
    width: 35%;
    height: auto;
    margin: 0px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
	font-weight: bold;
    letter-spacing:.25px;
    text-align: center;
    border: none;
    border-radius: 30px;
    outline: none;
    float: right;
}
.form-group-sohi {
	width: 50px;
	height: 73%;
	margin-left: 88%;
	position: absolute;
	z-index: 9999999;
	cursor: pointer;
}
.form-group-sohi i {
	margin-top: 13px;
	margin-right: 20px;
	font-size: 25px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}